# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
tmp/
gin-bin

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Node
/node_modules
/dist

# Docker
/.data-postgres
/.idea