body {
    font-family: "Circular Air";
    letter-spacing: 0.03em;
    font-size: 10px;
    margin: 0;
}

button {
    background: black;
    border-radius: 80px;
    width: 100px;
    height: 35px;
    color: white;
    font-family: "Circular Air";
    font-size: 0.9rem;
    box-shadow: 0 6px 8px rgba(0,0,0,.07);
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}