body {
    font-family: "Circular Air";
    letter-spacing: 0.03em;
    font-size: 1rem;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 2rem;
}

.note {
    text-transform: uppercase;
    color: $grey;
    font-size: 0.7rem;
    letter-spacing: 0.08rem;
}

.segmentsWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-gap: 3rem;
    align-items: stretch;
    margin: 3rem auto;
}