.navbar {
    width: 100%;
    height: 45px;
    position: relative;
    padding: 1rem 0;
    background: $secondary;
    box-shadow: 0 8px 19px rgba(0, 0, 0, 0.3);

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            color: white;
            font-weight: 500;
        }

        button, a {
            border: 2px solid;
        }

        .actions {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                display: flex;
                justify-content: center;
                align-items: center;

                text-decoration: none;
                box-sizing: border-box;

                margin-right: 16px;
            }
        }
    }
}