.createSheetWrapper {
    padding: 3rem;
}

.addSegmentBtnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div:first-of-type {
        flex: 0.5;
    }

    .toggle {
        display: flex;
        align-items: center;

        span {
            padding-right: 1rem;
            font-size: 0.8rem;
        }
    }
}